.vertex {
    stroke: transparent;
    fill: transparent;
}

.helper {
    stroke: #f00;
    fill: #f00;
}

.benzene {
    stroke: #fff;
    stroke-width: 1.0px;
    fill: transparent;
}

.edge {
    stroke: #fff;
    /* stroke: #000; */
    stroke-width: 1.5px;
    stroke-linecap: round;
}

.edge.double-bond {}

.id {
    font-size: 8px;
    fill: #f00;
}

.element {
    fill: #fff;
    /* fill: #000 */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
    font-size: 10px;
    /* filter: url(#dropShadowFilter); */
}

.number {
    fill: #fff;
    /* fill: #000 */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
    font-size: 6px;
}

.element.o {
    fill: #e74c3c;
}

.element.n {
    fill: #2980b9;
}

.element.s {
    fill: #f39c12;
}

.element.f {}

.background {
    fill: rgba(20, 20, 20, 1.0);
    /* fill: #fff; */
}


/* C */

.gradientCO {
    stroke: url(#gradientCO);
}

#gradientCO stop:nth-child(1) {
    stop-color: #fff;
}

#gradientCO stop:nth-child(2) {
    stop-color: #e74c3c;
}

.gradientCN {
    stroke: url(#gradientCN);
}

#gradientCN stop:nth-child(1) {
    stop-color: #fff;
}

#gradientCN stop:nth-child(2) {
    stop-color: #2980b9;
}

.gradientCS {
    stroke: url(#gradientCS);
}

#gradientCS stop:nth-child(1) {
    stop-color: #fff;
}

#gradientCS stop:nth-child(2) {
    stop-color: #f39c12;
}


/* O */

.gradientOO {
    stroke: url(#gradientOO);
}

#gradientOO stop:nth-child(1) {
    stop-color: #e74c3c;
}

#gradientOO stop:nth-child(2) {
    stop-color: #e74c3c;
}

.gradientOC {
    stroke: url(#gradientOC);
}

#gradientOC stop:nth-child(1) {
    stop-color: #e74c3c;
}

#gradientOC stop:nth-child(2) {
    stop-color: #fff;
}

.gradientON {
    stroke: url(#gradientON);
}

#gradientON stop:nth-child(1) {
    stop-color: #e74c3c;
}

#gradientON stop:nth-child(2) {
    stop-color: #2980b9;
}

.gradientOS {
    stroke: url(#gradientOS);
}

#gradientOS stop:nth-child(1) {
    stop-color: #e74c3c;
}

#gradientOS stop:nth-child(2) {
    stop-color: #f39c12;
}


/* N */

.gradientNN {
    stroke: url(#gradientNN);
}

#gradientNN stop:nth-child(1) {
    stop-color: #2980b9;
}

#gradientNN stop:nth-child(2) {
    stop-color: #2980b9;
}

.gradientNC {
    stroke: url(#gradientNC);
}

#gradientNC stop:nth-child(1) {
    stop-color: #2980b9;
}

#gradientNC stop:nth-child(2) {
    stop-color: #fff;
}

.gradientNO {
    stroke: url(#gradientNO);
}

#gradientNO stop:nth-child(1) {
    stop-color: #2980b9;
}

#gradientNO stop:nth-child(2) {
    stop-color: #e74c3c;
}

.gradientNS {
    stroke: url(#gradientNS);
}

#gradientNS stop:nth-child(1) {
    stop-color: #2980b9;
}

#gradientNS stop:nth-child(2) {
    stop-color: #f39c12;
}


/* F */

.gradientSS {
    stroke: url(#gradientSS);
}

#gradientSS stop:nth-child(1) {
    stop-color: #f39c12;
}

#gradientSS stop:nth-child(2) {
    stop-color: #f39c12;
}

.gradientSC {
    stroke: url(#gradientSC);
}

#gradientSC stop:nth-child(1) {
    stop-color: #f39c12;
}

#gradientSC stop:nth-child(2) {
    stop-color: #fff;
}

.gradientSO {
    stroke: url(#gradientSO);
}

#gradientSO stop:nth-child(1) {
    stop-color: #f39c12;
}

#gradientSO stop:nth-child(2) {
    stop-color: #e74c3c;
}

.gradientSN {
    stroke: url(#gradientSN);
}

#gradientSN stop:nth-child(1) {
    stop-color: #f39c12;
}

#gradientSN stop:nth-child(2) {
    stop-color: #2980b9;
}